
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/

/google-credentials.json
.env
.env.local
.env.dev
.vscode/
.editorconfig
google-credentials.json
composer.lock
.devcontiner
###< phpunit/phpunit ###


